body {
    font-family: 'Lato';
}

.header {
    position: absolute;
    background-color: #0066FF;
    width: 100%;
    top: 0;
    left: 0;
    height: 80px;
}

.header .title {
    color: white;
    font-weight: bold;
    font-size: 180%;
    margin-top: 20px;
    margin-left: 20px;
    width: 100%;
}

.header .title .name {
    margin-top: 5px;
    position: absolute;
    font-size: 60%;
    right: 20px;
    margin-left: 60%;
}

.header a {
    text-decoration: none;
    color: white;
}

.menu-main {
    margin-top: 80px;
    padding: 30px 30px;
}

.app {
    margin-top: 80px;
    padding: 30px 30px;
}

.menu-main-row {
    padding-bottom: 10px;
}

.menu-main-row .menu-main-item {
    min-width: 30%;
    vertical-align: top;
    display: inline-block;
    padding: 10px 10px;
    overflow: hidden;
    white-space: nowrap;
    border-radius: 10px;
    background-color: #0066FF;
    color: white;
    cursor: pointer;
    height: 150px;
}

.menu-main-row .menu-main-item h2 {
    font-size: 200%;
    font-weight: bold;
}

.menu-main-row .menu-main-item p {
    color: #0066FF;
}

table {
    border-spacing: 0;
    text-align: left;
    position: relative;
    max-width: 900px;
}

table td, th {
    border: 1px solid black;
    padding: 6px 6px;
}

table td[attribute="-"] {
    border-right: 10px solid red;
}
table td[attribute="+"] {
    border-right: 10px solid green;
}

table td[attribute="att3"] {
    border-right: 10px solid orange;
}
table td[attribute="att10"] {
    border-right: 10px solid green;
}

select {
    border: 1px solid white;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}

.redBorder {
    border-right: 10px solid red;
}

.orangeBorder {
    border-right: 10px solid orange;
}

.greenBorder {
    border-right: 10px solid green;
}

.row {
    margin-top: 100px;
}

.app.hntsm table {
    display: inline-block;
    padding-left: 25px;
}

#available-balance {
    border-left: 10px solid #0066FF;
    padding-left: 40px;
    font-weight: bold;
    font-size: 250%;
    display: inline-block;
}

#available-balance:hover {
    border-left: 10px solid #0056AF;
    background-color: #0066FF;
    color: white;
    cursor: pointer;
    user-select: none;
}

#re-add-btn {
    color: white;
    font-weight: bold;
    border: 4px solid white;
    padding: 7px 7px;
    background-color: #0066FF;
}

#re-add-btn:hover {
    color: #0066FF;
    border: 4px solid #0066FF;
    background-color: white;
    cursor: pointer;
}

#habits {
    position: absolute;
    top: 110px;
}

.re-input {
    padding: 7px 7px;
}

.re-item {
    margin-top: 5px;
    display: block;
    width: 250px;
    border: 4px solid #0066FF;
    padding: 7px 7px;
    list-style-type: none;
}

.re-item:hover {
    cursor: pointer;
    background-color: #0066FF;
    color: white;
}

.sgh {
    margin-left: 150px;
}