body {
    font-family: 'Lato';
}

.header {
    position: absolute;
    background-color: #0066FF;
    width: 100%;
    top: 0;
    left: 0;
    height: 80px;
}

.header .title {
    color: white;
    font-weight: bold;
    font-size: 180%;
    margin-top: 20px;
    margin-left: 20px;
    width: 100%;
}

.header .title .name {
    font-size: 60%;
    margin-left: 60%;
}

.menu-main {
    margin-top: 80px;
    padding: 30px 30px;
}

.menu-main-row {
    padding-bottom: 10px;
}

.menu-main-row .menu-main-item {
    min-width: 30%;
    vertical-align: top;
    display: inline-block;
    padding: 10px 10px;
    overflow: hidden;
    white-space: nowrap;
    border-radius: 10px;
    background-color: #0066FF;
    color: white;
    cursor: pointer;
}

.menu-main-row .menu-main-item h2 {
    font-size: 200%;
    font-weight: bold;
}

.menu-main-row .menu-main-item p {
    color: #0066FF;
}